:root{
    --fundo: #836FFF;
    --cartao-frente: #6959CD;
    --cartao-verso: #483D8B;
    --destaque: #A020F0; 
    --preto: #000000;
    --branco: #ffffff; 
}
body{
    background-color: var(--fundo);
}