:root{
    --fundo: #836FFF;
    --cartao-frente: #6959CD;
    --cartao-verso: #483D8B;
    --destaque: #A020F0; 
    --preto: #000000;
    --branco: #ffffff; 
}
body{
    background-color: var(--fundo);
}
footer{
    position: fixed;
bottom: 0;
background-color: var(--preto);
color: var(--branco); 
width: 100%
text-align: center; 
}